---
---

$primary-color: purple;

@import 'foundation/foundation';
@include foundation-everything;
@include foundation-flex-grid;

@import 'font-awesome/fontawesome';
@import 'font-awesome/solid';
@import 'font-awesome/brands';


body {
    height: 100%;

    font-family: "Noticia Text";

    @media #{$medium-up} {
        background: linear-gradient(to bottom right, gold, white, white, white);
    }
}

#main {
    height: 100%;
}

#photo {
    max-width: 300px;
}

h1 {
    font-family: Palatino Linotype;
    font-size: xx-large;
}

a {
    color: teal;
    &:hover { color: purple; }

    img {
        width: 2.5em;
        margin-right: 0.5em;
        vertical-align: top;
        filter: url(filters.svg#teal);
    }
    &:hover img {
        filter: url(filters.svg#purple);
    }
}

i.fa, i.fa-brands {
    font-size: 2.5em;
    margin-right: 0.2em;
}

.secondary, .secondary a {
    color: gray;
}
